@charset "utf-8";
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #00478F;
    color: #fff;
    padding: 1px;
    
}

img#logo1 {
    padding: 0px;
    margin: auto ;
    height: 50%;
    width: 350px;
    text-align: center;
    display: block;
}


nav ul {
    text-align: center;
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
    
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;

    padding: 10px;
    border-radius: 15px;
}

nav ul li a:hover {
    color:#00478F;
    border: 1px solid #5595BE;
    background-color: #d2f0fb;
}

main {
    padding: 20px;
}

section.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

section.container div.item a {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 5px;
    padding: 40px;
    margin: 2px;
    width: 10vw;
    justify-content:center;


    border-radius: 15px;
    background-color: #5595BE;
    color: #ffffff;

}
section.container div.item a.l1 {
    
    
    background-color: #FFCC00;
}
section.container div.item a.l2 {
    background-color: #FF7518;
}
section.container div.item a.l3 {
    background-color: #03A7E4;
}
section.container div.item a:hover {
    background-color: #00478F;
}
section {
    margin-bottom: 20px;
}
section.bene {
    margin-bottom: 100px;
    border-end-end-radius: 10px;
    border-top-left-radius: 10px;
    padding: 10px;
    background-color: #d1effa;

}

section h2 {
    color: #00478F;
}

footer {
    background-color: #00478F;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}