@charset "utf-8";



@media screen and (min-width: 768px) {
    i#burg {
        display: none;
    }

    menu {
        display: block;
    }

    menu ul li {
        display: inline-block;
        width: 80px;}
    article {
        width: 700px;
        text-align: justify;
    }
    article div {
        width: 700px;
    }
}